/* Subtract */

position: absolute;
width: 691.64px;
height: 832.93px;
left: 390px;
top: 26px;

background: #F0DCBD;
border-radius: 2px;


/* Rectangle 104 */

position: absolute;
width: 677px;
height: 822.5px;
left: 397.66px;
top: 30.31px;

background: #D9D9D9;
border: 11px solid #000000;


/* Group 22 */

position: absolute;
width: 719.91px;
height: 930.88px;
left: 362.86px;
top: -32.68px;



/* Vector 27 */

position: absolute;
width: 72px;
height: 101px;
left: 494.66px;
top: -2.68px;

background: #9F1C1C;
transform: matrix(-0.85, 0.52, 0.52, 0.85, 0, 0);


/* Vector 28 */

position: absolute;
width: 195.71px;
height: 101px;
left: 726.66px;
top: -32.68px;

background: #9F1C1C;
transform: rotate(4.86deg);


/* Vector 29 */

position: absolute;
width: 141.2px;
height: 101px;
left: 948.66px;
top: 415.31px;

background: #9F1C1C;
transform: rotate(75deg);


/* Vector 30 */

position: absolute;
width: 53.35px;
height: 101px;
left: 362.86px;
top: 479.36px;

background: #9F1C1C;
transform: rotate(-120deg);


/* Vector 31 */

position: absolute;
width: 128.65px;
height: 101px;
left: 751.66px;
top: 787.31px;

background: #9F1C1C;
transform: rotate(175.45deg);


/* Axolotls derive from the same species as salamanders. Whilst being amphibians, their external gills remain aquatic. They reach maturity without significant metamorphosis */

position: absolute;
width: 424.06px;
height: 200.1px;
left: 491.42px;
top: 216.37px;

font-family: 'Cutive Mono';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #000000;

transform: rotate(-5.38deg);


/* Rectangle 103 */

position: absolute;
width: 1440px;
height: 127px;
left: 0px;
top: 567px;

background: #8A38F5;


/* Group 20 */

position: absolute;
width: 137.08px;
height: 263.93px;
left: 40px;
top: 462px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 95 */

position: absolute;
width: 137.08px;
height: 156.37px;
left: 40px;
top: 569.57px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 33 */

position: absolute;
width: 125.93px;
height: 125.93px;
left: 44.85px;
top: 462px;

background: #CAC2C2;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 21 */

position: absolute;
width: 137.08px;
height: 263.93px;
left: 1270px;
top: 462px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 95 */

position: absolute;
width: 137.08px;
height: 156.37px;
left: 1270px;
top: 569.57px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 33 */

position: absolute;
width: 125.93px;
height: 125.93px;
left: 1274.85px;
top: 462px;

background: #CAC2C2;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 35 */

box-sizing: border-box;

position: absolute;
width: 84px;
height: 84px;
left: 522px;
top: 589px;

border: 15px solid #F3CD50;


/* Ellipse 36 */

box-sizing: border-box;

position: absolute;
width: 84px;
height: 84px;
left: 678px;
top: 589px;

border: 15px solid #F3CD50;


/* Ellipse 37 */

box-sizing: border-box;

position: absolute;
width: 84px;
height: 84px;
left: 834px;
top: 589px;

border: 15px solid #F3CD50;


/* Ellipse 38 */

box-sizing: border-box;

position: absolute;
width: 100px;
height: 100px;
left: 982px;
top: 581px;

border: 15px solid #F3CD50;


/* Ellipse 39 */

box-sizing: border-box;

position: absolute;
width: 100px;
height: 100px;
left: 358px;
top: 581px;

border: 15px solid #F3CD50;


/* Very Uncertain */

position: absolute;
width: 111px;
height: 44px;
left: 212px;
top: 608px;

font-family: 'Cutive Mono';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

color: #000000;



/* Very Certain */

position: absolute;
width: 111px;
height: 44px;
left: 1108px;
top: 608px;

font-family: 'Cutive Mono';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: right;

color: #000000;

