/* P */

position: relative;
width: 1440px;
height: 1789px;

background: #16141C;


/* Rectangle 80 */

position: absolute;
width: 1440px;
height: 377px;
left: -2px;
top: 421px;

background: #854EB4;


/* animation 2 */

position: absolute;
width: 1440px;
height: 736px;
left: 0px;
top: 0px;



/* star1 */

position: absolute;
width: 171px;
height: 172px;
left: 28px;
top: -605px;



/* Group */

position: absolute;
left: 0%;
right: 26.99%;
top: -0.02%;
bottom: 27.44%;

transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 27%;
top: 0%;
bottom: 27.44%;

background: #F2CC4F;
transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* Group */

position: absolute;
left: 0.16%;
right: 26.83%;
top: 0.99%;
bottom: 26.44%;

filter: blur(14.5px);
transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0.16%;
right: 26.84%;
top: 1%;
bottom: 26.44%;

background: #F2CC4F;
transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* star1 */

position: absolute;
width: 91px;
height: 92px;
left: 172px;
top: -1166px;



/* Group */

position: absolute;
left: -0.01%;
right: 26.83%;
top: 0%;
bottom: 27.6%;

transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 26.83%;
top: 0%;
bottom: 27.61%;

background: #F2CC4F;
transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* Group */

position: absolute;
left: 0.14%;
right: 26.67%;
top: 1%;
bottom: 26.6%;

filter: blur(14.5px);
transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0.16%;
right: 26.67%;
top: 1%;
bottom: 26.61%;

background: #F2CC4F;
transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);


/* star1 */

position: absolute;
width: 37px;
height: 38px;
left: 1305px;
top: -497px;



/* Group */

position: absolute;
left: -0.1%;
right: 26.31%;
top: 0%;
bottom: 28.06%;

transform: matrix(0.86, -0.51, 0.49, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 26.28%;
top: 0%;
bottom: 28.14%;

background: #F2CC4F;
transform: matrix(0.86, -0.51, 0.49, 0.87, 0, 0);


/* Group */

position: absolute;
left: 0.05%;
right: 26.16%;
top: 1%;
bottom: 27.06%;

filter: blur(14.5px);
transform: matrix(0.86, -0.51, 0.49, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0.16%;
right: 26.13%;
top: 1%;
bottom: 27.13%;

background: #F2CC4F;
transform: matrix(0.86, -0.51, 0.49, 0.87, 0, 0);


/* star1 */

position: absolute;
width: 73px;
height: 74px;
left: 819px;
top: -83px;



/* Group */

position: absolute;
left: -0.03%;
right: 26.74%;
top: 0%;
bottom: 27.68%;

transform: matrix(0.86, -0.5, 0.5, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 26.73%;
top: 0%;
bottom: 27.7%;

background: #F2CC4F;
transform: matrix(0.86, -0.5, 0.5, 0.87, 0, 0);


/* Group */

position: absolute;
left: 0.13%;
right: 26.59%;
top: 1%;
bottom: 26.68%;

filter: blur(14.5px);
transform: matrix(0.86, -0.5, 0.5, 0.87, 0, 0);


/* Vector */

position: absolute;
left: 0.16%;
right: 26.58%;
top: 1%;
bottom: 26.7%;

background: #F2CC4F;
transform: matrix(0.86, -0.5, 0.5, 0.87, 0, 0);


/* star2 */

position: absolute;
left: 36.71%;
right: 63.01%;
top: -12.64%;
bottom: 112.09%;



/* Ellipse 19 */

position: absolute;
left: 36.71%;
right: 63.01%;
top: -12.64%;
bottom: 112.09%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 36.71%;
right: 63.01%;
top: -12.64%;
bottom: 112.09%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 32.89%;
right: 66.83%;
top: -71.2%;
bottom: 170.65%;



/* Ellipse 19 */

position: absolute;
left: 32.89%;
right: 66.83%;
top: -71.2%;
bottom: 170.65%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 32.89%;
right: 66.83%;
top: -71.2%;
bottom: 170.65%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 6.52%;
right: 93.2%;
top: -51.49%;
bottom: 150.95%;



/* Ellipse 19 */

position: absolute;
left: 6.52%;
right: 93.2%;
top: -51.49%;
bottom: 150.95%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 6.52%;
right: 93.2%;
top: -51.49%;
bottom: 150.95%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 43.23%;
right: 56.49%;
top: -17.53%;
bottom: 116.98%;



/* Ellipse 19 */

position: absolute;
left: 43.23%;
right: 56.49%;
top: -17.53%;
bottom: 116.98%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 43.23%;
right: 56.49%;
top: -17.53%;
bottom: 116.98%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 57.32%;
right: 42.4%;
top: -12.23%;
bottom: 111.68%;



/* Ellipse 19 */

position: absolute;
left: 57.32%;
right: 42.4%;
top: -12.23%;
bottom: 111.68%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 57.32%;
right: 42.4%;
top: -12.23%;
bottom: 111.68%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 62.46%;
right: 37.27%;
top: -9.24%;
bottom: 108.7%;



/* Ellipse 19 */

position: absolute;
left: 62.46%;
right: 37.27%;
top: -9.24%;
bottom: 108.7%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 62.46%;
right: 37.27%;
top: -9.24%;
bottom: 108.7%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 78.83%;
right: 20.89%;
top: -11.14%;
bottom: 110.6%;



/* Ellipse 19 */

position: absolute;
left: 78.83%;
right: 20.89%;
top: -11.14%;
bottom: 110.6%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 78.83%;
right: 20.89%;
top: -11.14%;
bottom: 110.6%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 87.44%;
right: 12.28%;
top: -9.65%;
bottom: 109.1%;



/* Ellipse 19 */

position: absolute;
left: 87.44%;
right: 12.28%;
top: -9.65%;
bottom: 109.1%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 87.44%;
right: 12.28%;
top: -9.65%;
bottom: 109.1%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* star2 */

position: absolute;
left: 87.44%;
right: 12.28%;
top: -21.88%;
bottom: 121.33%;



/* Ellipse 19 */

position: absolute;
left: 87.44%;
right: 12.28%;
top: -21.88%;
bottom: 121.33%;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 20 */

position: absolute;
left: 87.44%;
right: 12.28%;
top: -21.88%;
bottom: 121.33%;

background: #FFFFFF;
filter: blur(2.2px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Shield */

position: absolute;
width: 1438px;
height: 3529px;
left: 0px;
top: 1083px;

background: #16141C;


/* YELLOW GOWING TITIK */

position: absolute;
width: 93px;
height: 19px;
left: 1213px;
top: 1243px;



/* Ellipse 6 */

position: absolute;
width: 19px;
height: 19px;
left: 1213px;
top: 1243px;

background: #F2CC4F;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 7 */

position: absolute;
width: 20px;
height: 19px;
left: 1249px;
top: 1243px;

background: #F2CC4F;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 8 */

position: absolute;
width: 19px;
height: 19px;
left: 1287px;
top: 1243px;

background: #F2CC4F;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 9 */

position: absolute;
width: 19px;
height: 19px;
left: 1213px;
top: 1243px;

background: #F2CC4F;
filter: blur(10.55px);
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 10 */

position: absolute;
width: 20px;
height: 19px;
left: 1249px;
top: 1243px;

background: #F2CC4F;
filter: blur(10.55px);
transform: matrix(1, 0, 0, -1, 0, 0);


/* Ellipse 11 */

position: absolute;
width: 19px;
height: 19px;
left: 1287px;
top: 1243px;

background: #F2CC4F;
filter: blur(10.55px);
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 78 */

position: absolute;
width: 1438px;
height: 465px;
left: 4px;
top: 1324px;

background: #854EB4;
border-radius: 46px;


/* Vector */

position: absolute;
left: 9.44%;
right: 43.74%;
top: 18.61%;
bottom: 60.71%;

background: #FAF8F4;


/* Group 20 */

position: absolute;
width: 211.08px;
height: 406.41px;
left: 1036px;
top: 262px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 95 */

position: absolute;
width: 211.08px;
height: 240.78px;
left: 1036px;
top: 427.63px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 33 */

position: absolute;
width: 193.91px;
height: 193.91px;
left: 1043.48px;
top: 262px;

background: #CAC2C2;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Start Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 468px;
height: 51px;
left: 240px;
top: 317px;



/* Union */

width: 41px;
height: 50px;

background: #F3CD50;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 386px;
height: 50px;

background: #F3CD50;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* You are Miller! */

width: 428px;
height: 43px;

font-family: 'Cinzel';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;

color: #16141C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

width: 41px;
height: 50px;

background: #F3CD50;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Game Description */

position: absolute;
width: 465px;
height: 234px;
left: 244px;
top: 402px;

font-family: 'Cutive Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;

color: #16141C;



/* Game Description */

position: absolute;
width: 719px;
height: 130px;
left: 161px;
top: 1083px;

font-family: 'Cutive Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;

color: #D9D9D9;



/* Group 22 */

position: absolute;
width: 330px;
height: 39px;
left: 461px;
top: 647px;



/* Group 21 */

position: absolute;
width: 330px;
height: 39px;
left: 461px;
top: 647px;



/* Rectangle 108 */

position: absolute;
width: 330px;
height: 39px;
left: 461px;
top: 647px;

background: #F3CD50;
border-radius: 28.5px;


/* Ellipse 34 */

position: absolute;
width: 27px;
height: 27px;
left: 752px;
top: 653px;

background: #16141C;


/* Game Description */

position: absolute;
width: 262px;
height: 26px;
left: 480px;
top: 654px;

font-family: 'Cutive Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;

color: #16141C;



/* Vector */

position: absolute;
left: 52.64%;
right: 46.25%;
top: 36.95%;
bottom: 62.44%;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 108 */

position: absolute;
width: 1152px;
height: 39px;
left: 144px;
top: 950px;

background: #D9D9D9;
border-radius: 28.5px;


/* Rectangle 109 */

position: absolute;
width: 707px;
height: 39px;
left: 144px;
top: 950px;

background: #F3CD50;
border-radius: 28.5px;


/* 65% */

position: absolute;
width: 114px;
height: 77px;
left: 1166px;
top: 856px;

font-family: 'Bona Nova';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
/* identical to box height */
text-align: right;

color: #FFFFFF;



/* Your right answer */

position: absolute;
width: 247px;
height: 38px;
left: 157px;
top: 897px;

font-family: 'Bona Nova';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

color: #FFFFFF;



/* Group 23 */

position: absolute;
width: 561px;
height: 54px;
left: 745px;
top: 34px;



/* Purple Bar */

position: absolute;
width: 561px;
height: 54px;
left: 745px;
top: 34px;

background: rgba(133, 78, 180, 0.54);
border-radius: 41px;


/* Yellow Bar */

position: absolute;
width: 145px;
height: 54px;
left: 845px;
top: 34px;

background: #F3CD50;
border-radius: 41px;


/* Logo */

position: absolute;
width: 69px;
height: 69px;
left: 150px;
top: 26px;

background: #D9D9D9;
border-radius: 41px;
